@import '../../../assets/fontawesome/scss/fontawesome.scss';
$fa-font-path: '../../../assets/fontawesome/webfonts';

@import '../../../assets/fontawesome/scss/fa-solid.scss';
@import '../../../assets/fontawesome/scss/fa-brands.scss';

// TODO: check below codes
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: sans-serif;
  margin: 0;
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
// end

.site-main-content {
  height: calc(100vh - 100px);
  background: var(--surface-main);
  overflow-y: scroll;
  @media (max-width: 760px) {
    padding-bottom: 65px;
  }
}

.side-menu::-webkit-scrollbar {
  display: none;
  width: 4px;
}
