.kbts-page-dashboard {
    display: grid;

    &-ribbon {
      margin: auto;
    }

    &-service {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 5%;
      padding: 5%;
    }
  }

  @media only screen and (max-width: 760px) {
    .kbts-page-dashboard-service {
      grid-template-columns: auto;
    }
  }
