.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

@keyframes rubberBand {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scaleX(1.25) scaleY(0.75);
  }
  40% {
    transform: scaleX(0.75) scaleY(1.25);
  }
  60% {
    transform: scaleX(1.15) scaleY(0.85);
  }
  100% {
    transform: scale(1);
  }
}
.rubberBand {
  animation-delay: 1s;
  animation-name: rubberBand;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
    top: 500px;
  }
}
.pulse {
  animation-name: pulse;
  animation-duration: 2s;
}

@keyframes expand {
  100% {
    letter-spacing: 5px;
    transition: letter-spacing 0.75s;
  }
}
.expand {
  animation-name: expand;
  animation-delay: 1s;
  animation-duration: 1s;
}

@keyframes opening {
  0% {
    width: 0%;
  }
  50% {
    transform: 50%;
  }
  100% {
    transform: 100%;
  }
}
.opening {
  animation-name: opening;
  animation-duration: 2s;
}