.kbts-pipeline {
  width: 100px;
  height: 100px;
  padding: 1%;
  margin: 2px 25px 40px 15px;
  position: relative;
  border-radius: var(--border-radius-none) var(--border-radius-default) var(--border-radius-default) var(--border-radius-default);
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: var(--on-surface-main);
  text-transform: uppercase;
  box-shadow: var(--box-shadow-md);
  background-color: var(--surface-main);

  &-img{
    display: inline;
    font-size: 30px;
    color: var(--primary-dark);
  }

  &-text:after {
    content: '- - - -';
    position: absolute;
    width: 100%;
    left: 70px;
    top: 40px;
    font-weight: 900;
    color: var(--on-surface-main);
    @media(max-width: 760px) {
      content: none;
    }
  }
}
