.blog__post {
  font-family: 'muli';

  &__container {
    padding: 0 10%;
    max-width: 100vw;

    @media (max-width: 760px) {
        padding: 0 4%;
    }
  }

  &__title {
    color: var(--secondary-main);
    text-align: center;
    padding-top: 40px;
    font-size: 3em;
  }

  &__date {
    color: lightgrey;
    font-size: small;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }

  &__tags{
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;

    &__text{
      margin: 10px;
      padding: 4px 15px;
      background-color: #8acb82;
      color: white;
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}